
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body {
    font-family: "Roboto", sans-serif;
    
}

.flex-container {
display:flex;
width: 768px;
height: 1854px;
}


.flex-item {
    padding: 10px;
    font: 400 18.11px "Roboto", sans-serif;
    color: rgb(85, 27, 27);
}

/* Containers  */
.item-1 {
position: absolute;
width: 768px;
height: 90px;
left: 0px;
top: 0px;
background: #C4C4C4;
}

.item-2 {
position: absolute;
width: 492px;
height: 492px;
left: 13px;
top: 100px;
background: #A2A9B7;
}

 .item-3 {
    position: absolute;
    Width:241px;
Height: 241px;
Top: 100px;
Left: 515px;
background: #A2A9B7;

}

.item-4 {
position: absolute;
width: 241px;
height: 241px;
left: 515px;
top: 351px;
background: #A2A9B7;
}



 .item-5 {
    position: absolute;
    width: 241px;
    height: 155px;
    left: 13px;
    top: 602px;
    background: rgba(232, 235, 237, 1);
 }


.item-6 {
    position: absolute;
    width: 240px;
    height: 155px;
    left: 264px;
    top: 602px;
    background: rgba(232, 235, 237, 1);
}


.item-7 {
position: absolute;
width: 242px;
height: 155px;
left: 514px;
top: 602px;
background: rgba(144, 188, 232, 1);

}

.item-8 {
    position: absolute;
width: 491px;
height: 155px;
left: 13px;
top: 767px;
background: rgba(232, 235, 237, 1);
}

.item-9 {
position: absolute;
width: 242px;
height: 155px;
left: 514px;
top: 767px;
background: #FEBF26;
}

.item-10 {
position: absolute;
Width:241px;
Height: 241px;
Top: 932px;
Left: 13px;
background: #E3EBD3;
}

.item-11 {
position: absolute;
width: 492px;
height: 492px;
left: 264px;
top: 932px;
background: #E3EBD3;
}

.item-12 {
position: absolute;
Width:241px;
Height: 241px;
Top: 1173px;
Left: 2px;
background: url(Styles\images\image1.png);
}

.item-13 {
position: absolute;
width: 241px;
height: 155px;
left: 13px;
top: 1434px;
background: #FFAA87;
}

.item-14 {
position: absolute;
width: 492px;
height: 155px;
left: 264px;
top: 1434px;
background: #FFAA87;
}

.item-15 {
    position: absolute;
width: 241px;
height: 155px;
left: 13px;
top: 1599px;
background: #F55E62;
}

.item-16 {
    position: absolute;
width: 241px;
height: 155px;
left: 264px;
top: 1599px;
background: #FFAA87;
}

.item-17 {
position: absolute;
width: 241px;
height: 155px;
left: 515px;
top: 1599px;
background: rgba(199, 171, 212, 1);
}

.item-18 {
position: absolute;
width: 768px;
height: 90px;
left: 0px;
top: 1764px;
background: #C4C4C4;
}


/* Paragraf styles */

.first-paragraph-style {
    position: absolute;
width: 74px;
height: 20px;
left: 347px;
top: 35px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.second-paragraph-style {
    position: absolute;
width: 421px;
height: 409px;
left: 38px;
top: 130px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18.1121px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}

.third-paragraph-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
}

.fourth-paragraph-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
}

.fifth-paragraph-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.sixth-paragraph-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.seventh-paragraph-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.eights-paragraph-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.ninth-paragraph-style {
position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.tenth-paragraf-style {
position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.eleventh-paragraf-style {


}

.twelfth-paragraf-style {
    position: absolute;
    height: 125px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.thirteenth-paragraf-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.fourteenth-paragraf-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.fiftheenth-paragraf-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.sixteenth-paragraf-style {
    position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.seventeenth-paragraf-style {
position: absolute;
height: 125px;
left: 15px;
right: 15px;
bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}

.eightteenth-paragraf-style {
position: absolute;
width: 65px;
height: 20px;
left: 352px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: flex-end;
color: #000000;
}








