body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-image: url(prog\img\img1.png) center;
}

/* Style main container  */
.header__headercontainer {
position: relative;
width: 980px;
height: 883px;
bottom: 50px;
left:356px;
background-color: #FFFFFF;
}

/* Scroll image */
.header-scroll {
position: absolute;
width: 17px;
height: 517px;
left: 694px;
top: 46px;
}


/* Paragraph style */
p {
    width: 440px;
    height: 120px;
    left: 260px;
    right: 40px;
    bottom: 15px;
    top: 102px;

    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000
}

/* Chat-containers */

.chatcontainer__one {
  position: absolute;
  width: 470px;
  height: 142px;
  top: 87px;
  left: 115px;
  border-radius: 5px;
  background-color: rgba(241, 243, 245, 1);
}

.chatcontainer__two {
  position: absolute;
  width: 123px;
  height: 46px;
  left: 463px;
  top: 255px;
  border-radius: 5px;
  background-color: rgba(241, 243, 245, 1);
}

.chatcontainer__three {
  position: absolute;
  width: 262px;
  height: 46px;
  top: 328px;
  left: 118px;
  border-radius: 5px;
  background-color: rgba(241, 243, 245, 1);
}

.chatcontainer__four {
  position: absolute;
  width: 123px;
  height: 46px;
  top: 459px;
  left: 475px;
  border-radius: 5px;
  background-color: rgba(241, 243, 245, 1);

}

.chatcontainer__five {
  position: absolute;
  width: 262px;
  height: 46px;
  top: 528px;
  left: 117px;
  border-radius: 5px;
  background-color: rgba(241, 243, 245, 1);
}


/* Avatar containers */
.div__avatar-picture1 {
position: absolute;
width: 45px;
height: 43px;
left: 410px;
top: 42px;
background-color: #C4C4C4;
}


.div__avatar-picture2 {
    position: absolute;
    width: 45px;
    height: 43px;
    left: 954px;
    top: 206px;
    background-color: #C4C4C4;
    
    }

    .div__avatar-picture3 {
        position: absolute;
        width: 45px;
        height: 43px;
        left: 414px;        
        top: 278px;
        background-color: #C4C4C4;
        
        }

        .div__avatar-picture4 {
            position: absolute;
            width: 45px;
            height: 43px;
            left: 965px;
            top: 410px;
            background-color: #C4C4C4;
      
            }

            .div__avatar-picture5 {
              position: absolute;
              width: 45px;
              height: 43px;
              left: 415px;
              top: 477px;
              background-color: #C4C4C4;
              }
  

              /* Style input */
  input {
    position: absolute;
    Width:590px;
    Height:129px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    top: 561px;
    left: 414px;
  
  }

   /* Style Button */
  button {
  Width:144px;
Height:41px;
position: absolute;
left: 418px; 
top: 706px;
background: #0F54B9;
box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
border-radius: 21px;
  }

  /* style lines */
  .first-line {
  position: absolute;
width: 254.2px;
height: 0px;
left: 357px;
top: 350px;
border: 1px solid #DBDBDB;

  }

  .second-line {
    position: absolute;
width: 254.2px;
height: 0px;
left: 794px;
top: 350px;
border: 1px solid #DBDBDB;
  }

  .third-line {
    position: absolute;
width: 707px;
height: 0px;
left: 358px;
top: 546px;
border: 1px solid #DBDBDB;
  }


  /* Center date */
  .center-date {
  position: absolute;
width: 154px;
height: 24px;
left: 631px;
top: 340px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #000000;
  }

